.messengerWidget {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: auto;
}

/* Adjust for mobile to avoid overlapping with CSBot widget */
@media (max-width: 767px) {
  .messengerWidget {
    right: auto;
    left: 0;
  }
}
