@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  background: #0a0c10;
  font-family: 'Quicksand', sans-serif;
}

/* custom scrollbar */
* {
  scrollbar-width: auto;
  /*scrollbar-color: #fae63a #0a0c10;*/
  scrollbar-color: #707070 #09090b;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #09090b;
}
*::-webkit-scrollbar-thumb {
  background-color: #fae63a;
  border-radius: 10px;
  border: 0px none #ffffff;
}
